<launch>
    <arg name="pkg_name"                            />
    <arg name="package_path"                        />
    <arg name="file_subpath"                        />
    <arg name="use_sim_time_val"    default="false" />
    <arg name="gui"                 default="true"  />

    <param name="use_gui"       value="$(arg gui)"/>
    <param name="/use_sim_time" value="$(arg use_sim_time_val)"/>

    <node name="tf_broadcaster_node"   pkg="$(arg pkg_name)" type="tf_broadcaster.py"></node>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen"/>

    <!-- Get the absolute path to the xacro file -->
    <param name="robot_description" command="$(find xacro)/xacro $(arg package_path)/description/$(arg file_subpath).xacro" />

    <!-- Configure the node -->
    <node name="robot_state_publisher" type="robot_state_publisher" pkg="robot_state_publisher" />
</launch>